@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html.sr .step-animation,
html.sr .delayed-step-animation,
html.sr .animation {
  visibility: hidden;
}

.arrows-none::-webkit-outer-spin-button,
.arrows-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  background: #0a377e;
  margin: 0;
}

.pizza {
  background: #fff1b8 url(/src/images/banners/pizza.png) no-repeat top -100px right -250px / 830px;
}

.kebab {
  background: #d6e4ff url(/src/images/banners/kebab.png) no-repeat top 45px right 40px / 450px;
}

.vegetables {
  background: #fff566 url(/src/images/banners/vegetables.png) no-repeat top 0 right 0 / 825px;
}

.sushi {
  background: #fff1f0 url(/src/images/banners/sushi.png) no-repeat top 10px right 15px / 500px;
}

.swiper {
  width: 600px;
  height: 300px;
}
